.button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    background-color: black;
    align-items: center;
   

}

.container {
    width: 50%;
    position: relative;
   background-color: rgb(165, 150, 150);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   

}

.red {
    background-color: red;

}

.green {

    background-color: green;
}


.orange {
    background-color: orange;
}

.buttonReset{
    background-color: rgb(214, 70, 3);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;

}

.buttonCreate{
    background-color: rgb(38, 194, 33);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;

}